@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1>Bienvenido a MyPymeStore</h1>
    <p class="lead">Administra tus productos fácilmente</p>
    <a class="btn btn-primary btn-lg mt-3" href="/Productos/GestionProductos">Ir a Gestión de Productos</a>
    <a class="btn btn-primary btn-lg mt-3" href="/Clientes/GestionClientes">Ir a Gestión de Clientes</a>
</div>